<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<div class="container my-3">
   <span sec:authorize="isAuthenticated()">
    <span th:text="${#authentication.principal.username}"></span>
    <span th:each="authority : ${#authentication.principal.authorities}">
        <span th:text="${authority.authority}"></span>
    </span>
</span>
    <span  sec:authorize="isAuthenticated()"
            th:text="${UserInfo.nickname}">닉네임없음</span>
    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
    <a sec:authorize="isAnonymous()" th:href="@{user/signup}">회원가입</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
</div>

    <table class="table">
        <thead class="table-dark">

        <tr>
            <th>번호</th>
            <th>제 목</th>
            <th>작성자 </th>
            <th>작 성 일 시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index }"></td>
            <td>
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"> </a>
                <span class="text-danger" small ms-2
                th:if="${#lists.size(question.answerList) >0}"
                      th:text="${#lists.size(question.answerList)}">
                </span>
            </td>
            <td>
                <span th:if="${question.author != null}"th:text="${question.author.username}"></span>
            </td>
            <td th:text="${#temporals.format(question.createDate,'yy년M월dd일 HH시mm분')}"></td>
        </tr>
        <a th:href="@{question_form}" class="btn btn-primary">작성하기</a>
        </tbody>
    </table>
    <!-- 페이징 처리-->
    <!-- 페 이 징 처 리 시 작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이 전</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}&kw=${kw}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다 음</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.totalPages-1}|}">

                    <span>끝</span></a>
            </li>
            <a class="page-link" th:href="@{|?page=${paging.number*0+1}|}">
                <span>끝</span></a>

        </ul>
    </div>
<form th:action="@{/list}" method="get" id="searchForm">
    <input type="text" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
    <input type="submit" value="검색" class="btn btn-primary my-2">
</form>
    <!-- 페 이 징 처 리 끝 -->
</div>


</html>
