<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<form th:action="@{/user/login}" method="post">
  <div th:if="${param.error}">
  <div>
    사용자 id 또는 비밀번호를 확인하여 주세요.
  </div>
  </div>
  <div>
    <label for="username">사용자id</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="password">비밀번호</label>
    <input type="password" name="password" id="password">
  </div>

  <button type="submit">로그인</button>
</form>

</html>