<!DOCTYPE html>
<link xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>


</head>
<header>
  <div th:replace="layout/navbar :: content"></div>
</header>


<div class="m-5 d-flex justify-content-start">
  <!--공지사항-->
  <div class="w-50 m-3">
    <div class="card bg-primary mb-3" style="height: 400px;">

      <div class="card-header"><font style="vertical-align:inherit;">
        <font style="vertical-align: inherit;">
        <span>공지사항</span>
      </font></font>
      </div>

      <div class="card-body bg-white text-black m-1 p-0">
        <table class="w-100">
          <tbody class="border-bottom"
                 th:each="post, loop : ${paging1}" >
          <tr>
            <td colspan="3"><!--제목-->
              <a style="font-size: 15px; font-weight: bold;" th:href="@{|/post/detail/${post.id}|}" th:text="${post.subject}"> </a>
              <span class="text-danger"
                    th:if="${#lists.size(post.answerList) >0}"
                    th:text="${#lists.size(post.answerList)}">
                </span>
            </td><!--제목-->
            <td th:text="${#temporals.format(post.createDate,'yy.M.dd//HH:mm')}"> 날짜가 들어가요</td>

          </tr>
          <tr>
            <td colspan="2">
              <span th:if="${post.author != null}"
                    th:text="${post.author.nickname}"></span>
              <span style="font-size: 5px"
                    th:if="${post.author != null}"th:text="${'('+post.author.username+')'}">
                </span></td>
            <td><span th:if="${post.author != null}"th:text="${#lists.size(post.voter)}"></span></td>
            <td>1000</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div><!--공지사항-->


  <!--전체 인기글-->
  <div class="w-50 m-3">
    <div class="card bg-primary" style="height: 400px;">
      <div class="card-header"><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          <span>인기글</span>
        </font></font></div>
      <div class="card-body bg-white text-black m-1 p-0">

        <table class="w-100">
          <tbody class="border-bottom"
                 th:each="post, loop : ${paging2}" >
          <tr>
            <td colspan="3"><!--제목-->
              <a style="font-size: 15px; font-weight: bold;" th:href="@{|/post/detail/${post.id}|}" th:text="${post.subject}"> </a>
              <span class="text-danger"
                    th:if="${#lists.size(post.answerList) >0}"
                    th:text="${#lists.size(post.answerList)}">
                </span>
            </td><!--제목-->
            <td th:text="${#temporals.format(post.createDate,'yy.M.dd//HH:mm')}"> 날짜가 들어가요</td>

          </tr>
          <tr>
            <td colspan="2">
              <span th:if="${post.author != null}"
                    th:text="${post.author.nickname}"></span>
              <span style="font-size: 5px"
                    th:if="${post.author != null}"th:text="${'('+post.author.username+')'}">
                </span></td>
            <td><span th:if="${post.author != null}"th:text="${#lists.size(post.voter)}"></span></td>
            <td>1000</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div><!--전체 인기글-->

</div> <!--게시글 리스트업 끝-->
</html>