<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header>
    <div th:replace="layout/navbar :: content"></div>
</header>
<div

    <h1 class="m-5">새글 작성하기</h1>

    <div class="m-5 form-group border rounded  bg-light">

        <div class="m-3 ">
    <form th:object="${postForm}" method="POST">
         <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"> </div>
        </div>

        <div class="mb-3">
            <span>제목</span>
            <input type="text" name="subject" id="subject" th:field="*{subject}" class="form-control">
        </div>
        <div class="mb-3">
            <span>내용</span>
            <textarea style="resize: none;"
                    name="content" id="content" rows="30" th:field="*{content}" class="form-control">
            </textarea>
        </div>
        <input
                type="submit" value="저장하기"class="boxed-btn3">
    </form>

</div>
    </div>