<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<table>
    <thead>
    <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bookPrice : ${bookPrices}">
        <td th:text="${bookPrice.id}"></td>
        <td th:text="${bookPrice.price}"></td>
    </tr>
    </tbody>
</table>


<form th:action="@{/admin/create}" method="post">>
    <div>
        책이름
        <input type="text" name="bookName" id="bookName">
    </div>
    가격
    <input type="text" name="bookPrice" id="bookPrice">
    <button type="submit">저장</button>
</form>


</html>